<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hyperchats</title>
    <script src="https://kit.fontawesome.com/9344ff345c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css
    ">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js" defer></script>
    <script src="js/myscript.js" defer></script>

</head>
<body>
    <!-- for background -->
    <div></div> 
    <!--  app container -->
    <div class="container-lg row" id="app">
        <!-- menu window -->
        <div class="menu_window col-sm-4 d-none d-sm-block">
            <!-- menu upperbar -->
            <div class="menu_upperbar">
                <div class="profilecircle">
                    <img src="img/avatar_io.jpg" alt="">
                </div>
                <div class="profile_info">
                    <div class="profilename">Sofia</div>
                </div>
                <div class="upperbar_options">
                    <i class="fa-solid fa-circle-notch fa-fw fa-spin fa-lg"></i>
                    <i class="fa-solid fa-message fa-fw fa-lg"></i>
                    <i class="fa-solid fa-ellipsis-vertical fa-lg fa-fw"></i>
                </div>
            </div>
            <!-- notification -->
            <div class="notification">
                <div class="profilecircle">
                    <i class="fa-solid fa-bell-slash fa-xl" style="color: rgb(154, 226, 233);"></i>
                </div>
                <div>
                    <h6>Ricevi notifiche di nuovi messaggi</h6>
                    <div>
                        <a href="">attiva le notifiche</a>
                    </div>
                </div>

            </div>

            <!-- chat search -->
            <div class="menu_search">
                <div class="input-group-sm">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    <input type="text" placeholder="Search chats"
                    v-model="search">
                </div>
            </div>

            <!-- chat list -->
            <div class="menu_chatlist">
                <!-- generate chatcard from vue -->
                <div class="chatlist_card" v-for="(item, i) in contacts" @click="chatSelect(i)" :class="index === i ? 'chat_active' : ''">

                    <!-- prof image -->
                    <div class="profilecircle">
                        <img :src="'img/avatar'+item.avatar+'.jpg'" :alt="item.name">
                    </div>

                    <!-- prof info -->
                    <div class="profile_info">
                        <!-- name -->
                        <div class="profilename" v-cloak>{{item.name}}</div>
                        <!-- last chat -->
                        <div class="lastchat" v-cloak>
                            {{item.messages[item.messages.length - 1].message}}
                        </div>
                    </div>

                    <!-- last chat time -->
                    <div class="lastchat_time" v-cloak>
                        {{fullDate(item.messages[item.messages.length - 1].date)}}
                    </div>
                </div>
            </div>
        </div>
        <!-- chat window -->
        <div class="chat_window col-sm-8">
            <!-- chat upperbar -->
            <div class="chat_window_upperbar">
                <!-- for small device -->
                <div class="d-block d-sm-none pe-4 ps-2" @click="backtomenu()">
                    <i class="fa-solid fa-chevron-left fa-fw fa-beat"></i>
                </div>
                <!-- prof image -->
                <div class="profilecircle">
                    <img :src="'img/avatar'+contacts[index].avatar+'.jpg'" :alt="contacts[index].name">
                </div>
                <!-- prof info -->
                <div class="profile_info">
                    <!-- name -->
                    <div class="profilename" v-cloak>{{contacts[index].name}}</div>
                    <!-- last login time -->
                    <div class="lastchat" v-cloak>
                        online status
                    </div>
                </div>
                <!-- upperbar options -->
                <div class="upperbar_options">
                    <i class="fa-solid fa-search fa-fw fa-lg"></i>
                    <i class="fa-solid fa-paperclip fa-fw  fa-lg"></i>
                    <i class="fa-solid fa-ellipsis-vertical fa-fw  fa-lg"></i>
                </div>
            </div>

            <!-- chat content (column-reverse)-->

            <div class="chat_window_content" style="background-image: url('img/mine.jpg');">

                <!-- chat wrapper (column) -->
                <div class="chat_window_chat_wrapper">

                    <!-- generate chat from vue -->
                    <template v-for="(item, index2) in contacts[index].messages">
                        <div class="chat_date" v-if="chatDate(item.date, index, index2)">
                            {{fullDate(item.date, 1)}}
                        </div>
                        <div class="message" :class="item.status === 'received' ? 'received' : ''">
                            <!-- chat text -->
                            <div class="message_content" v-cloak>
                                {{item.message}}
                            </div>
                            <!-- chat time -->
                            <div class="message_info">
                                {{time(item.date)}}
                            </div>
                        </div>
                    </template>
                </div>
            </div>

            <!-- chat bottombar -->
            <div class="chat_window_bottom">
                <div>
                    <i class="fa-regular fa-face-smile fa-fw fa-lg"></i>
                </div>
                <!-- chat input -->
                <input type="text" v-model="chatInput" @keyup.enter="send()" placeholder="Type a message...">

                <!-- sent button -->
                <div @click="send()">
                    <i class="fa-solid fa-paper-plane fa-fw fa-xl" style="color: rgb(65, 160, 255);"></i>
                </div>
            </div>
        </div>
    </div>
</body>
</html>